#cookie-law-info-bar {
  width: 100%;
  background: black;
  opacity: 0.86;
  position: fixed;
  bottom: 35px;
  left: 0;
}

.btn-pc{
  padding: 4px 16px;
}

.cookie-box{
  text-align:center;
  padding: 10px;
  color: whitesmoke;
}