@import "variables";
@import "navbar";
@import "index";
@import "user-forms";
@import "footer";
@import "readme";
@import "cookiepolicy";


.container {
  max-width: $container-max-width;
}

.btn {
  border-radius: 2px;
}

html{
  position:relative;
  min-height: 100%;
}

body{
  margin-bottom: 60px;
  background-color:#eee;
}