{% extends '::base.html.twig' %}
{%block body%}
<div class="container">
<h2>What is?</h2>
<p/>
SymfonyZero is a free fully functional kickstarter edition. You can use it as a base for 
your Symfony web projects with a typical architecture. Includes the most common bundles 
preconfigured and the usual sections of a website with responsive design. 
<p>
This helps you to build web projects more quiclky, saving time in the early stages of the development. Also, you can enable or disable any feature easily, and also, SymfonyZero is fully configurable to adapt it to the needs of your project.
<p/>
In this documentation you can learn about how to install, configure, what bundles and sections are availables and how you can help to imporove it. SymfonyZero is an alive project and we'll be adding new features and improvements, so stay tuned for new updates.
<p/>
If you detect an error, you know how to improve it or you have an idea about this edition, please, fix it, do it or write us!.. Let us know!
</div>
{%endblock%}
