{% extends '::base.html.twig' %}
{%block body%}
{# total items count #}
<div class="count">
    Total items:{{ pagination.getTotalItemCount }}
</div>
<table style="width:100%">
<tr>
    <th>{{ knp_pagination_sortable(pagination, 'Username', 'a.username') }}</th>
</tr>

{# table body #}
{% for item in pagination %}
    <tr {% if loop.index is odd %}style="background-color:#f5f5f5;"{% endif %}>
        <td style="border:1px dashed lightgrey;padding:10px">{{ item.username }}</td>
    </tr>
{% endfor %}
</table>

<div class="navigation">
    {{ knp_pagination_render(pagination) }}
</div>
{%endblock%}