{%extends '::base.html.twig'%}
{%block body%}    
    <div class='centered_div'>
        <textarea class="tinymce"></textarea>
    </div>        
{%endblock%}

{% block javascripts %}
    {{parent()}}    
    {{ tinymce_init() }}
    
{% endblock %}
