{% extends 'base.html.twig' %}

{% block body %}


<h2><a id="user-content-what-is" class="anchor" href="#what-is" aria-hidden="true">What is SymfonyZero?</h2>

<p>SymfonyZero is a free fully functional kickstarter edition. You can use it as a base for your Symfony web projects with a typical architecture. SymfonyZero includes the most common bundles preconfigured and the usual sections of a website. SymfonyZero helps you to build web projects more quiclky, saving time in the early stages of the development. Also, you can enable or disable any feature easily, and also, SymfonyZero is fully configurable to adapt it to the needs of your project.</p>

<p>In this documentation you can learn about how to install, configure, what bundles and sections are availables and how you can help to imporove it. SymfonyZero is an alive project and we'll be adding new features and improvements, so stay tuned for new updates.</p>

<p>If you detect an error, you know how to improve it or you have an idea about this edition, please, fix it, do it or write us!</p>

<h2><a id="user-content-requirements" class="anchor" href="#requirements" aria-hidden="true">Requirements</h2>

<p>SymfonyZero uses Symfony 3.0.2 version (although you can change it easily), so you need to keep in your mind these requirements:</p>

<p><strong>Mandatory</strong></p>

<pre><code>* PHP needs to be a minimum version of PHP 5.5.9
* JSON needs to be enabled
* ctype needs to be enabled
* Your php.ini needs to have the date.timezone setting
</code></pre>

<p><strong>Optional</strong></p>

<pre><code>*  You need to have the PHP-XML module installed
*  You need to have at least version 2.6.21 of libxml
*  PHP tokenizer needs to be enabled
*  mbstring functions need to be enabled
*  iconv needs to be enabled
POSIX needs to be enabled (only on *nix)
*  Intl needs to be installed with ICU 4+
*  APC 3.0.17+ (or another opcode cache needs to be installed)
*  php.ini recommended settings
        - short_open_tag = Off
        - magic_quotes_gpc = Off
        - register_globals = Off
        - session.auto_start = Off
</code></pre>

<p>If you change the Symfony version, these requirements could change. In this case you must visit the [oficial site] to check them.</p>

<h2><a id="user-content-setup" class="anchor" href="#setup" aria-hidden="true">Setup</h2>

<p>Install SymfonyZero as base of your projects is very easy. First, you have to clone this repository in your web root directory:</p>

<div class="highlight highlight-source-shell"><pre>$ git clone https://github.com/Emergya/book-a-look-back.git</pre></div>

<p>Then, you have to install vendors using Composer. If you don't have Composer installed, follow the instructions that you can find in <a href="https://getcomposer.org/">his web site</a>. Once you have Composer installed you'll can install vendors:</p>

<div class="highlight highlight-source-shell"><pre>$ composer install</pre></div>

<p>Make sure you set up right permission to run correctly the application. To do this, you can follow the instructions you can find in the <a href="http://symfony.com/doc/current/book/installation.html#book-installation-permissions">official book</a>.</p>

<p>By default, SymfonyZero uses MySQL database called <em>symfony</em>. You need also a user with username: <em>symfony</em> and password: <em>symfony</em>. Of course, you can change this (you must it!), and in config section you can learn how change it. When you have this user created in your MySQL, you need run this command to create de database and his schema:</p>

<div class="highlight highlight-source-shell"><pre>$ php bin/console doctrine:database:create</pre></div>

<p>If you change the model, remember you have to do this:</p>

<div class="highlight highlight-source-shell"><pre>$ php bin/console doctrine:schema:update --force</pre></div>

<p>To run the application you have to configure your web server correctly. You can see how to configure it in the <a href="http://symfony.com/doc/current/cookbook/configuration/web_server_configuration.html">official guide</a>. When you have your server running and configured, you can check the installation in your browser:</p>

<pre><code>http://localhost:8000/config.php
</code></pre>

<p>Now you can build your own project using SymfonyZero by yourself. You have available differents bundles and sections. To enable or disable these options, and to know how to configure all the posibilities of SymfonyZero, read next chapters about the current features availables and how you can configure them.</p>

<h2><a id="user-content-features" class="anchor" href="#features" aria-hidden="true">Features</h2>

<p>SymfonyZero helps you to develop build your web applications quickly. SymfonyZero is made up of several bundles (Symfony Standard Edition bundles and Third party bundles) and usual features and sections which appears in a wide range of websites. In this section you can read what is included in each of these parts.</p>

<p><strong>Third Party Bundles</strong></p>

<p>SymfonyZero has available a pre-configured third party bundles to give a solution for the most common needs of the web projects. In this list you can discover what bundles are installed and the link to access to their official repositories.</p>

<div style="border:1px dashed gray;padding:10px;margin:10px;margin-bottom:20px">Please, refer to <a href="{{path('included-bundles')}}"><b>Included Bundles Section</b></a> for complete list</div>


<p><strong>Common Sections and Funcionallity</strong></p>

<ul>
<li>Landing page with slider</li>
<li>Private section to manage entities</li>
<li>Contacto form with email service pre-configured</li>
<li>Login, register and password change</li>
<li>Newsletter form integrated with Mialchimp service</li>
<li>About me section</li>
<li>Terms &amp; Conditions section</li>
<li>Demo page with paged registered users list</li>
<li>Header section with company's logo and dynamic menu</li>
<li>Footer section with common links</li>
</ul>

<p><strong>Symfony Standard Edition</strong></p>

<p>Extracted of the <a href="https://github.com/symfony/symfony-standard">official repository of Symfony</a>, here we have the pre-configured bundles we have available because they are in the Symfony Standard Edition:</p>

<ul>
<li> FrameworkBundle - The core Symfony framework bundle</li>
<li> SensioFrameworkExtraBundle - Adds several enhancements, including template and routing annotation capability</li>
<li> DoctrineBundle - Adds support for the Doctrine ORM</li>
<li> TwigBundle - Adds support for the Twig templating engine</li>
<li> SecurityBundle - Adds security by integrating Symfony's security component</li>
<li> SwiftmailerBundle - Adds support for Swiftmailer, a library for sending emails</li>
<li> MonologBundle - Adds support for Monolog, a logging library</li>
<li> WebProfilerBundle (in dev/test env) - Adds profiling functionality and the web debug toolbar</li>
<li> SensioDistributionBundle (in dev/test env) - Adds functionality for configuring and working with Symfony distributions</li>
<li> SensioGeneratorBundle (in dev/test env) - Adds code generation capabilities</li>
<li> DebugBundle (in dev/test env) - Adds Debug and VarDumper component integration</li>
</ul>

<h2><a id="user-content-config" class="anchor" href="#config" aria-hidden="true">Config</h2>

<p>Work in progress</p>

<h2><a id="user-content-improvements-and-contact" class="anchor" href="#improvements-and-contact" aria-hidden="true">Improvements and contact</h2>

<p>This is an open source project to contribute with the community and we are delighted to be helped by you, so if you have an idea to improve SymfonyZero or you find a bug, please create an issue and explain us clearly and with details your idea or the bug you have found.</p>

<p>In case you are able to patch any bug or add a new feature, don't hesitate and make a pull request. First, fork the repository and clone it locally. Then, create a branch for your edits. When you end your contribution, open a pull request and we'll discuss your changes.</p>

<p>If you have any doubt arount how to contribute using GitHub, you can read the official guide <a href="https://guides.github.com/activities/contributing-to-open-source/">to contribute to open source project</a>.</p>

<p>Also, you can contact with developers in <a href="mailto:symfony@emergya.com">symfony@emergya.com</a>. We'll be glad to talk with you :)</p>


{%endblock%}