{% extends '::base.html.twig' %}

{% block body %}

    {{ form_start(form) }}

    <div id="contact">
        Using this form you will send an email, obviously is not functional, is just for demonstration purposes.

        {{ form_widget(form) }}

        <input type="submit" value="Send Email"/>

    </div>

    {{ form_end(form) }}

{% endblock %}